.time-pick {
    display: inline-flex;
    flex: 1 1 calc(50% - 5px);
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f3f2f1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.time-pick:hover {
    background-color: #e7edff;
}

.time-pick.active {
    background-color: rgba(112, 192, 91, 0.6);
    color: #fff;
}

.time-pick.booked {
    background-color: rgba(112, 192, 91, 1);
    color: #fff;
}
